.fHotel {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 15px;

  .fHotelItem {
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
    line-height: 1;
    overflow: hidden;
  }

  .fHotelImg {
    width: 100%;
    height: 200px;
    // border-radius: 10px;
  }

  .fName {
    font-size: 20px;
    font-weight: 800;
  }
  .fCity {
    font-size: 15px;
    font-weight: 400;
  }
  .fPrice {
    font-size: 15px;
    font-weight: 400;
  }
  .fPrice > span {
    font-size: 15px;
    font-weight: 800;
  }
  .fHotelRating {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .fHotelRating > button {
    background-color: #3ce8a3;
    color: black;
    font-weight: bold;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
  }
  .fHotelRating > span {
    font-size: 12px;
  }
}
