.navbar {
  height: 50px;
  background-color: #3ce8a3;
  display: flex;
  justify-content: center;

  .navContainor {
    width: 100%;
    max-width: 1024px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    font-weight: 500;
  }

  .navButton {
    margin-left: 20px;
    border: none;
    padding: 8px 10px;
    background-color: #0071c2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1055px) {
  .navContainor {
    max-width: 900px;
    padding: 0 40px;
  }
}
